<html>
<head>
<link type="text/css" rel="stylesheet" href="/static/style.css"/>
</head>
<body>
{{ template "menu" }}

<h1>The world's most secure dating site</h1>


<p>This dating site shows what security and privacy benefits can be had 
when you ditch passwords and use cryptography instead.</p>

<h3>No passwords</h3>

<p>With normal dating sites, you log in with a password. Not here. There are no 
passwords. Not at all. Passwords are gone. We wield the power of cryptography.</p>

<h3>Power of cryptography</h3>

<p>We harness the power of certificates in three ways<br />

<h3>1. Fully encrypted</h3>

<p>We encrypt all data with https, just like every bank. 
It protects your communication with us against Peeping Toms.</li>

<h3>2. Easier and safer to log in</h3>

<p>We ask you to log in with a client certificate. It may sound complicated but fear not.
It's easier than signing up with a password. You choose your nickname, your computer does the 
cryptographic hard work. It guarantees that no one but you can use that nickname.<p>

<p>Notice, that we don't even ask for your password. You are truly anonymous.</p>

<h3>3. Completely confidential (and safe)</h3>

<p>With the certificate comes a public and private key pair. It enables you to write messages to 
other aliens on this site. But unlike other dating sites, you can encrypt the message 
so <span style="text-decoration: underline;">only</span> 
your recipient can read the message. Not even us, the operators of this site can read it. That's the power
of cryptography.<p>

<h3>Oh behave mr. Powers</h3>

<p>Be warned. You don't get off scot-free. You still have to behave. You cannot be (too) naughty 
at first contact. If your recipient files a complaint about your behaviour to us, we blacklist your 
certificate at the site and you will have to start all over. 
When the other party leaves our site, there will be no way to contact him/her/it at all.</p>

<p>The certificate is like a digital mask. On this site you only see the masks. 
Once you destroy the mask (you delete the private key), no one can match you and your mask, ever.</p>

<h1>The Secret Sauce</h3>

<p>The secret sauce of this site is in the way we use cryptography.</p>

<p>To be honest, all that cryptography is complicated. It gets easy when you have a computer program that 
does all that for you. We have that program. It's the 
<a href="https://github.com/gwitmond/ecca-proxy">ecca-proxy</a>. 
Right now, it's only for the adventurers who love to tinker with software. 
In the near future it will be in every operating system and browser.</p>

<p>Please read: <a href="https://witmond.nl/blog/2012/10/22/announcing-eccentric-authentication.html">Announcing Eccentric Authentication</a>.</p>

<p>With regards, Guido Witmond.</p>
<p>Feel free to mail: info @ witmond.nl.</p>
<hr />
