<html><body>
{{ template "menu" }}
<h1>Send message to your favorite alien</h1>
<p>Hello {{ .CN }}. Here you can compose a poem to you favorite alien {{ .ToCN }}</p>
<form method="POST">
<br>
<textarea name="ciphertext" rows="8" cols="80"></textarea><br>
<input type="submit" name="submit" value="Deliver">
</form>
</body></html>